.container-all-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 300px;
    height: 300px;
}

.view-container {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    color: red;
}