.footer {
    background: black;
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding:10px 10px;
}
#menu-item-35 a {
    color: white;
}

.container-ul-footer {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }