.footer {
    background: black;
    bottom: 0;
    padding:10px 10px;
}
#menu-item-35 a {
    color: white;
}

.container-footer{
    display: flex;
    justify-content: center;
}

.container-ul-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-ul-footer li{
    margin: 0 20px;
}

.container-ul-footer li a {
    color: #fff;
}
.copyright p{
    color: #fff;
    text-align: center;
}