.logo{
  width: 100px;
  margin-left: 100px;
}
 .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #111; */
}
/*
.container-logo {
  display: flex;
  background: white;
}
.logo {
  width: 100px;
}
.logo-text {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.container-ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
  color: white;
}
.container-ul li a {
  color: white;
}
.nav-search {
  flex: 1;
  display: flex;
  justify-content: center;
} */
